// В этом файле должны быть стили для БЭМ-блока sushi-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.sushi-card {
  width: 100%;
  height: calc(100% - 20px);
  max-width: 370px;
  margin-top: 20px;
  padding-bottom: 40px;
  overflow: hidden;
  border-radius: 3px;
  transition: box-shadow 0.2s ease-in-out;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: 1919px) {
    padding-bottom: 30px;
  }

  @media (max-width: 1599px) {
    padding-bottom: 20px;
  }

  &:hover {
    box-shadow: 0 0 15px rgba(81, 92, 98, 0.3);

    .sushi-card_preview {
      img {
        transform: scale(1.4);
        transition: transform 2.5s ease;
      }
    }
  }

  &--small {
    &:hover {
      .sushi-card_preview {
        img {
          transform: none;
        }
      }
    }

    .sushi-card_preview {
      img {
        width: 100%;
        transform: none;
      }
    }
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &_preview {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // margin-bottom: 20px;
    transition: transform 0.5s ease;
    outline: none !important;
    overflow: hidden;
    flex-shrink: 0;
    height: 180px;

    img {
      width: 100%;
      transform: scale(1.2);
      // object-fit: cover;
      // object-position: center;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    padding: 0 35px;
    box-sizing: border-box;

    @media (max-width: 1919px) {
      padding: 0 15px;
    }
  }

  &_title {
    margin-bottom: 15px;
    text-align: center;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      margin-left: 5px;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: inherit;

      h3 {
        color: rgba(#000000, 0.6);
      }
    }

    h3 {
      font-weight: 300;
      font-size: 18px;
      line-height: 1.6;
      line-height: 1.6;
      text-align: center;
    }
  }

  &_desc {
    margin-bottom: 15px;
    font-weight: 300;
    text-align: center;
    color: $text-color-mutted;
    font-style: italic;

    @media (max-width: 1919px) {
      font-size: 14px;
    }
  }

  &_count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: 10px;
  }

  &_count-title {
    font-weight: 700;
    font-size: 16px;
  }

  &_count-stepper {
    .input-group {
      display: flex;
    }

    .form-control {
      border-radius: 0;
      height: 44px;
    }

    .input-group-append {
      display: flex;
      align-items: center;
    }

    .btn-decrement,
    .btn-increment {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding-top: 8px;
      padding-bottom: 8px;
      background-color: #ffffff;
      border: 1px solid $border-color;
      transition: all 0.2s ease-in-out;

      &:hover,
      &:focus {
        color: $white;
        background-color: $color-main;
        border-color: $color-main;
      }

      &:active {
        color: $white;
        color: $color-main--active;
      }
    }

    .btn-decrement {
      border-right: 0;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    .btn-increment {
      border-left: 0;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    .stepper {
      width: 70px;
      padding: 8px 0;
      font-size: 18px;
      border: 0;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;

      @media (max-width: 1599px) {
        width: 50px;
      }
    }
  }

  &_coast {
    display: flex;
    justify-content: center;
    align-items: baseline;

    &-current {
      font-weight: 700;
      font-size: 23px;
      // color: $color-main;
    }

    &-old {
      margin-left: 10px;
      font-size: 16px;
      color: $text-color-mutted;
      text-decoration: line-through;
      text-decoration-color: $color-main;
    }
  }
}
