// В этом файле должны быть стили для БЭМ-блока breadcrumbs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.breadcrumbs {
  position: relative;
  height: vw(245px);
  min-height: 135px;
  background-color: #f7f6f2;
  background-image: url("../img/breadcrumbs-bg.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;

  @media (max-width: 767px) {
    min-height: 70px;
    background-position: 50% top;
  }

  &_content {
    margin-left: vw(90px);

    @media (max-width: 991px) {
      margin-left: 0;
    }
  }

  &_title {
    font-size: 40px;
    font-weight: 300;
    color: #333333;
    line-height: 1;

    @media (max-width: 1199px) {
      font-size: 35px;
    }

    @media (max-width: 767px) {
      font-size: 30px;
    }

    span {
      color: $orange;
      font-weight: 700;
    }
  }

  .breadcrumb {
    background-color: transparent;
    padding-top: 5px;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;

    &-item {
      font-size: 12px;
      text-transform: uppercase;

      @media (max-width: 767px) {
        font-size: 10px;
      }

      a {
        color: #a8a7a4;
        font-weight: 500;
      }

      &.active {
        color: #a8a7a4;
      }
    }
  }
}
