// В этом файле должны быть стили для БЭМ-блока mobile-menu, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(#ffffff, 0.99);
  min-height: 56px;
  display: flex;
  align-items: center;

  .phone_wrapper {
    flex-direction: row;
    align-items: center;
  }
  .phone_number {
    font-size: 20px;
    line-height: 1;
    color: $color-main;

    @media (max-width: 575px) {
      font-size: 17px;
    }
  }

  .phone_label {
    margin-right: 15px;
    svg {
      &:not(:last-of-type) {
        margin-right: -10px;
      }
    }
  }
}
